@charset "UTF-8";
@font-face {
  font-family: "mamelon";
  src: url("../font/Mamelon-3.5-Hi-Regular.otf") format("opentype"), url("../font/Mamelon-3.5-Hi-Regular.woff") format("woff"), url("../font/Mamelon-3.5-Hi-Regular.woff2") format("woff2");
}
body {
  font-family: "mamelon";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

.header {
  height: 80px;
}
.header__inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3%;
}
.header__list {
  display: flex;
  justify-content: right;
}
.header__item {
  margin-left: 20px;
  line-height: 80px;
}
.header__item a {
  color: #000000;
  font-size: 15px;
}
.header__item a span {
  position: relative;
}
.header__item a span::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #999900;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.header__item a span:hover::after {
  transform: scale(1, 1);
}

.top {
  padding: 0 3%;
}
.top__inner {
  border: solid 2px #00ac9b;
  max-width: 1300px;
  margin: 0 auto;
  height: calc(100vh - 100px);
  background-image: url("../img/bg_1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.top__img--1 {
  width: 500px;
  margin-top: -30px;
  margin-left: -40px;
}
@media screen and (max-width: 767px) {
  .top__img--1 {
    width: 300px;
  }
}
.top__text {
  position: absolute;
  top: 40%;
  left: 58%;
}
@media screen and (max-width: 767px) {
  .top__text {
    top: 55%;
    left: 35%;
  }
}
@media screen and (max-width: 530px) {
  .top__text {
    left: 12%;
  }
}
.top__text--upper {
  background-color: rgba(255, 255, 255, 0.7);
  color: #ff9999;
  width: 208px;
  height: 68px;
  font-size: 30px;
  margin-bottom: 10px;
  padding-top: 18px;
  padding-right: 14px;
  text-align: right;
}
@media screen and (max-width: 530px) {
  .top__text--upper {
    width: 150px;
    height: 48px;
    font-size: 20px;
  }
}
.top__text--lower {
  background-color: rgba(255, 255, 255, 0.7);
  color: #ff9999;
  width: 208px;
  height: 68px;
  font-size: 30px;
  padding-top: 18px;
  padding-left: 20px;
  margin-left: 100px;
}
@media screen and (max-width: 530px) {
  .top__text--lower {
    width: 150px;
    height: 48px;
    font-size: 20px;
  }
}

.order {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0 0 auto;
}
.order__inner {
  border-radius: 100%;
}
.order__btn {
  background-image: url("../img/top_btn.png");
  background-size: cover;
  background-position: -10px 0;
  width: 170px;
  height: 170px;
  text-align: center;
  padding-top: 32px;
  border-radius: 100%;
}
.order__btn p {
  font-size: 20px;
  color: #00ac9b;
}
.order__btn p span {
  font-size: 34px;
}

.about {
  padding: 0 3%;
  margin-top: 100px;
}
.about__title {
  max-width: 1300px;
  margin: 0 auto;
}
.about__title-inner {
  width: 200px;
  margin: 0 auto;
}
.about__title-square {
  border: solid 2px #00ac9b;
  border-right: none;
  border-bottom: none;
  width: 120px;
  height: 120px;
  transform: rotate(-45deg);
  position: relative;
}
.about__title-square::before {
  content: "";
  width: 1.5px;
  height: 60px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 100%;
}
.about__title-square::after {
  content: "";
  width: 60px;
  height: 1.5px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: -2px;
}
.about__title-wrapper {
  margin-top: -100px;
  margin-left: 40px;
}
.about__title-wrapper p {
  color: #00ac9b;
  font-size: 28px;
  background-color: #fff;
}
.about__title-wrapper p span {
  font-size: 24px;
  font-family: "Ink Free";
  color: #00ac9b;
  background-color: #fff;
}

.content {
  margin-top: 120px;
  padding: 0 3%;
}
@media screen and (max-width: 767px) {
  .content {
    margin-top: 40px;
    background-image: url(/img/follow.jpg);
    background-size: cover;
    background-position: center;
  }
}
.content__inner {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.content__follow {
  width: 48%;
  position: sticky;
  top: 20%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .content__follow {
    display: none;
  }
}
.content__textbox {
  width: 48%;
  margin-top: 139px;
}
@media screen and (max-width: 767px) {
  .content__textbox {
    width: 100%;
    color: #fff;
  }
}
.content__item--mt {
  margin-top: 126px;
}
.content__item p {
  margin-top: 47px;
  margin-bottom: 32px;
  padding: 0 3px;
}
.content__item--inner {
  border-bottom: solid 2px #388579;
  display: flex;
  justify-content: space-between;
}
.content__item--inner h2 {
  display: inline-block;
}
.content__item--inner span {
  background-color: #388579;
  color: #fff;
  font-family: "Candara";
  border-radius: 5px 5px 5px 5px;
  font-size: 24px;
  padding-right: 52px;
  padding-left: 58px;
  position: relative;
}
.content__item--cross {
  position: relative;
  background: #999900;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  transform: rotate(45deg);
}
.content__item--cross::before {
  position: absolute;
  top: 9px;
  left: 50%;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 2px solid #999900;
  transform: translateX(-50%);
}
.content__item--cross::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 2px solid #999900;
  top: 4px;
  left: -12px;
  transform: rotate(90deg);
}
.content__item-btn a {
  color: #999900;
  position: relative;
}
.content__item-btn a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.content__item-btn a:hover::after {
  transform: scale(1, 1);
}

.feature {
  padding: 0 3%;
  margin-top: 100px;
}
.feature__title {
  max-width: 1300px;
  margin: 0 auto;
}
.feature__title-inner {
  width: 320px;
  margin: 0 auto;
}
.feature__title-square {
  border: solid 2px #00ac9b;
  border-right: none;
  border-bottom: none;
  width: 120px;
  height: 120px;
  transform: rotate(-45deg);
  position: relative;
}
.feature__title-square::before {
  content: "";
  width: 1.5px;
  height: 60px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 100%;
}
.feature__title-square::after {
  content: "";
  width: 60px;
  height: 1.5px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: -2px;
}
.feature__title-wrapper {
  margin-top: -100px;
  margin-left: 80px;
}
.feature__title-wrapper p {
  color: #00ac9b;
  font-size: 28px;
  background-color: #fff;
}
.feature__title-wrapper p span {
  font-size: 24px;
  font-family: "Ink Free";
  color: #00ac9b;
  background-color: #fff;
}
.feature__list {
  display: flex;
  justify-content: space-around;
  margin-top: 101px;
}
@media screen and (max-width: 767px) {
  .feature__list {
    display: block;
  }
}
.feature__item {
  width: 27%;
}
@media screen and (max-width: 767px) {
  .feature__item {
    width: 100%;
    text-align: center;
  }
}
.feature__item--box {
  text-align: center;
}
.feature__sentence {
  font-weight: bold;
  font-size: 24px;
}

.use {
  padding: 0 3%;
  margin-top: 101px;
}
@media screen and (min-width: 767px) {
  .use {
    background-image: url(/img/use_pic.jpg);
    background-size: contain;
    background-position: 105% 0;
  }
}
.use__inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 767px) {
  .use__inner {
    display: block;
  }
}
.use__wrapper {
  width: 48%;
  margin: 0 auto;
  padding-top: 150px;
}
@media screen and (max-width: 767px) {
  .use__wrapper {
    width: 80%;
    padding-top: 0;
  }
}
.use__title {
  margin-top: 50px;
  margin-bottom: 48px;
  text-align: center;
}
.use__title-inner {
  width: 250px;
}
.use__title-square {
  border: solid 2px #00ac9b;
  border-right: none;
  border-bottom: none;
  width: 120px;
  height: 120px;
  transform: rotate(-45deg);
  position: relative;
}
.use__title-square::before {
  content: "";
  width: 1.5px;
  height: 60px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 100%;
}
.use__title-square::after {
  content: "";
  width: 60px;
  height: 1.5px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: -2px;
}
.use__title-wrapper {
  margin-top: -100px;
}
.use__title-wrapper p {
  color: #00ac9b;
  font-size: 28px;
  background-color: #fff;
}
.use__title-wrapper p span {
  font-size: 24px;
  font-family: "Ink Free";
  color: #00ac9b;
  background-color: #fff;
}
.use__img--1 {
  margin-top: 20px;
}
.use__img--1 img {
  width: 100%;
  object-fit: cover;
}
.use__slider {
  width: 48%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .use__slider {
    width: 80%;
    margin-top: 20px;
  }
}
.use__slider-counter {
  background-color: #fff;
  font-family: "Candara";
  color: #7fcbc6;
  border-top: solid 3px #7fcbc6;
  border-left: solid 3px #7fcbc6;
  border-right: solid 3px #7fcbc6;
  border-bottom: solid 3px #7fcbc6;
  width: 150px;
  height: 150px;
  font-size: 32px;
  border-radius: 50%;
  text-align: center;
  padding-top: 30px;
}
.use__slider-list {
  border: solid 2px #7fcbc6;
  margin: 0 auto;
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #7fcbc6;
  background-color: #fff;
}
.use__slider-item {
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
}
.use__slider--inner {
  text-align: center;
}
.use__slider--inner p {
  margin-top: 38px;
}
.use__slider--inner span {
  border-bottom: solid 2px #48d1cc;
  font-size: 29px;
}
.use__slider--inner img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.use__slider-text {
  padding-bottom: 27px;
  width: 70%;
  margin: 0 auto;
}

.course {
  height: 50vh;
  padding: 0 3%;
  margin-top: 101px;
}
@media screen and (max-width: 767px) {
  .course {
    height: auto;
  }
}
.course__inner {
  max-width: 1300px;
  margin: 0 auto;
}
.course__title {
  width: 280px;
  margin: 0 auto;
}
.course__title-square {
  border: solid 2px #00ac9b;
  border-right: none;
  border-bottom: none;
  width: 120px;
  height: 120px;
  transform: rotate(-45deg);
  position: relative;
}
.course__title-square::before {
  content: "";
  width: 1.5px;
  height: 60px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 100%;
}
.course__title-square::after {
  content: "";
  width: 60px;
  height: 1.5px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: -2px;
}
.course__title-wrapper {
  margin-top: -100px;
  margin-left: 80px;
}
.course__title-wrapper p {
  color: #00ac9b;
  font-size: 28px;
  background-color: #fff;
}
.course__title-wrapper p span {
  font-size: 24px;
  font-family: "Ink Free";
  color: #00ac9b;
  background-color: #fff;
}
.course__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  height: 300px;
}
@media screen and (max-width: 767px) {
  .course__wrapper {
    display: block;
    height: auto;
    padding: 0 3%;
  }
}
.course__eco--1 {
  width: 70%;
  text-align: center;
  background-image: url("/img/course_1.jpg");
  background-size: cover;
  background-position: 0 20%;
  box-shadow: 15px 15px 0 0 #48d1cc;
}
@media screen and (max-width: 767px) {
  .course__eco--1 {
    width: 100%;
  }
}
.course__eco--2 {
  width: 25%;
  text-align: center;
  background-image: url("/img/course_2.jpg");
  background-size: cover;
  box-shadow: 15px 15px 0 0 #48d1cc;
}
@media screen and (max-width: 767px) {
  .course__eco--2 {
    width: 100%;
    padding-bottom: 10px;
  }
}
.course__eco-title--1 {
  color: #fff;
  font-size: 29px;
  margin-top: 8px;
  margin-bottom: 3px;
}
.course__eco-title--1 span {
  background-color: rgba(109, 218, 214, 0.8);
  padding: 0 58px;
}
.course__eco-title--2 {
  color: #fff;
  font-size: 29px;
  margin-top: 8px;
  margin-bottom: 3px;
}
@media screen and (max-width: 767px) {
  .course__eco-title--2 {
    margin-top: 30px;
  }
}
.course__eco-title--2 span {
  background-color: rgba(109, 218, 214, 0.8);
  padding: 0 17px;
}
.course__eco-list {
  display: flex;
  justify-content: space-around;
  height: 70%;
}
@media screen and (max-width: 767px) {
  .course__eco-list {
    display: block;
    padding-bottom: 10px;
  }
}
.course__eco-item {
  width: 25%;
  padding: 0 2%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .course__eco-item {
    width: 70%;
    margin-top: 10px;
  }
}
.course__eco-item--chd {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  height: 70%;
}
@media screen and (max-width: 767px) {
  .course__eco-item--chd {
    width: 70%;
  }
}
.course__eco-item--text {
  padding-top: 35px;
  margin-bottom: 23px;
}

.option {
  margin-top: 150px;
  padding: 0 3%;
}
.option__title {
  max-width: 1300px;
  margin: 0 auto;
}
.option__title-inner {
  width: 400px;
  margin: 0 auto;
}
.option__title-square {
  border: solid 2px #00ac9b;
  border-right: none;
  border-bottom: none;
  width: 120px;
  height: 120px;
  transform: rotate(-45deg);
  position: relative;
}
.option__title-square::before {
  content: "";
  width: 1.5px;
  height: 60px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 100%;
}
.option__title-square::after {
  content: "";
  width: 60px;
  height: 1.5px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: -2px;
}
.option__title-wrapper {
  margin-top: -100px;
  margin-left: 80px;
}
.option__title-wrapper p {
  color: #00ac9b;
  font-size: 28px;
  background-color: #fff;
}
.option__title-wrapper p span {
  font-size: 24px;
  font-family: "Ink Free";
  color: #00ac9b;
  background-color: #fff;
}
.option__list {
  margin-top: 80px;
}
.option__item-inner {
  text-align: center;
}
.option__btn {
  margin-top: 40px;
  text-align: center;
  position: relative;
}
.option__btn::before {
  content: url(/img/deco_3.png);
  position: absolute;
}
.option__btn a {
  background-image: -moz-linear-gradient(174deg, #19fff4 0%, mediumturquoise 100%);
  background-image: -webkit-linear-gradient(174deg, #19fff4 0%, mediumturquoise 100%);
  background-image: -ms-linear-gradient(174deg, #19fff4 0%, mediumturquoise 100%);
  color: #fff;
  font-size: 40px;
  padding: 10px 80px;
  position: relative;
  display: inline-block;
  transition: all 0.3s;
  background-size: 200% auto;
}
.blog {
  padding: 0 3%;
  margin-top: 100px;
}
.blog__title {
  max-width: 1300px;
  margin: 0 auto;
}
.blog__title-inner {
  width: 250px;
  margin: 0 auto;
}
.blog__title-square {
  border: solid 2px #00ac9b;
  border-right: none;
  border-bottom: none;
  width: 120px;
  height: 120px;
  transform: rotate(-45deg);
  position: relative;
}
.blog__title-square::before {
  content: "";
  width: 1.5px;
  height: 60px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 100%;
}
.blog__title-square::after {
  content: "";
  width: 60px;
  height: 1.5px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: -2px;
}
.blog__title-wrapper {
  margin-top: -100px;
  margin-left: 90px;
}
.blog__title-wrapper p {
  color: #00ac9b;
  font-size: 28px;
  background-color: #fff;
}
.blog__title-wrapper p span {
  font-size: 24px;
  font-family: "Ink Free";
  color: #00ac9b;
  background-color: #fff;
}
.blog__list {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
@media screen and (max-width: 767px) {
  .blog__list {
    display: block;
  }
}
.blog__item {
  width: 31%;
  border: solid 2px #dbdbdb;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .blog__item {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
.blog__item-img {
  width: 30%;
  padding-top: 10px;
  object-fit: fill;
  text-align: center;
}
.blog__item-img img {
  width: 90%;
  height: 90px;
  object-fit: fill;
  border-radius: 5px;
}
.blog__item-text {
  width: 65%;
  margin-right: 10px;
  margin-bottom: 20px;
}
.blog__item-text--limit {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog__item-text span img {
  width: 40px;
}
.blog__item-btn {
  text-align: right;
  margin-top: 20px;
}
.blog__item-btn a {
  background-color: #2cb695;
  border-radius: 5px;
  padding: 8px 40px;
  color: #fff;
  font-size: 12px;
}

.news {
  margin-top: 137px;
}
@media screen and (min-width: 767px) {
  .news {
    background-image: url(/img/news_bg.jpg), url(/img/news_bg.jpg);
    background-size: contain;
    background-position: -400px 0, 150% 0;
  }
}
.news__inner {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .news__inner {
    display: block;
  }
}
.news__title {
  width: 40%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .news__title {
    width: 100%;
  }
}
.news__title-inner {
  width: 250px;
  margin: 0 auto;
  margin-top: 80px;
}
.news__title-square {
  border: solid 2px #00ac9b;
  border-right: none;
  border-bottom: none;
  width: 120px;
  height: 120px;
  transform: rotate(-45deg);
  position: relative;
  margin: 0;
}
.news__title-square::before {
  content: "";
  width: 1.5px;
  height: 60px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 100%;
}
.news__title-square::after {
  content: "";
  width: 60px;
  height: 1.5px;
  background-color: #00ac9b;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: -2px;
}
.news__title-wrapper {
  margin-top: -100px;
  margin-left: 90px;
}
.news__title-wrapper p {
  font-size: 16px;
}
.news__title-wrapper p span {
  font-size: 32px;
  color: #00ac9b;
}
.news__list {
  width: 60%;
  margin-left: 30px;
}
@media screen and (max-width: 767px) {
  .news__list {
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
  }
}
.news__article {
  margin-bottom: 50px;
}
.news__article a {
  margin-left: 70px;
}

.footer {
  margin-top: 84px;
  background-color: #48d1cc;
  color: #fff;
  padding-top: 58px;
}
.footer__inner {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer__inner {
    display: block;
  }
}
.footer__list {
  width: 48%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .footer__list {
    width: 100%;
  }
}
.footer__item li {
  margin-bottom: 10px;
  position: relative;
}
.footer__item a {
  color: #fff;
  position: relative;
}
.footer__item a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.footer__item a:hover::after {
  transform: scale(1, 1);
}
.footer__item a::before {
  position: absolute;
  top: 50%;
  left: -8px;
  content: "";
  width: 5px;
  height: 1.5px;
  display: inline-block;
  background-color: #fff;
}
.footer__url {
  width: 48%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
@media screen and (max-width: 767px) {
  .footer__url {
    display: block;
    width: 100%;
    padding-left: 5%;
  }
}
.footer__btn--blog a {
  background-color: #fff;
  color: #2a7c6f;
  padding: 20px 67px 20px 65px;
}
.footer__btn--blog a:hover {
  opacity: 0.8;
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .footer__btn--line {
    margin-top: 50px;
  }
}
.footer__btn--line a {
  background-color: #fff;
  color: #2a7c6f;
  padding: 20px 45px 20px 47px;
}
.footer__btn--line a:hover {
  opacity: 0.8;
  transition: 0.5s;
}
.footer .copyright {
  text-align: center;
  margin-top: 30px;
}

.slick-slide img {
  display: inline-block;
}

.slick-arrow {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  width: 20px;
  height: 38px;
  color: transparent;
  z-index: 1;
  transition: opacity 0.5s;
  z-index: 1;
}

.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.slick-next::after,
.slick-prev::after {
  width: 26px;
  height: 26px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

/* next */
.slick-next {
  right: 26px;
}

.slick-next::after {
  right: -60px;
  transform: rotate(45deg);
}

/* prev */
.slick-prev {
  left: 26px;
}

.slick-prev::after {
  left: -60px;
  transform: rotate(-135deg);
}

@media screen and (max-width: 767px) {
  .slick-next::after,
.slick-prev::after {
    width: 10px;
    height: 10px;
  }

  .slick-next {
    right: 8px;
  }

  .slick-prev {
    left: 8px;
  }

  .slick-next::after {
    right: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
